MQTT_HOST = '192.168.1.200'
SEGMENT_LENGTH = 300
LOG_PATH = '/home/pi/sensor_logging'
S3_BUCKET='username'
S3_PATH='sensors/environment/'
AWS_ACCESS_KEY_ID='ABCDEFGHIJKLMNOPQRSTUVWXY/
AWS_SECRET_ACCESS_KEY='1234567890-='
AWS_DEFAULT_REGION='us-east-1'
